.heading{
    text-align: center;
}

.heading{
    h2{
        font-size: 30px;
    }
}

.heading{
    span{
        font-size: var(--p-font);
        color: rgb(2, 166, 70);
    }
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2, 220fr);
    gap: 0.5rem;
    margin-top: 2rem;
}

.about-img{
    img{
        width: 70%;
        border-radius: 0.5rem;
        margin-left: 68px;
    }
}

.about-text{
    p{
        font-size: var(--p-font);
        font-weight: 400;
    }
}

.informacao{
    margin: 1rem 0 1.4rem;
}

.informacao .info-box{
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

.informacao .info-box i{
    font-size: 22px;
}

.informacao .info-box span{
    font-weight: 400;
    margin-left: 1rem;
}
