.container-skill{
    width: 100%;
    height: 100%;
    padding: 0 8%;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-gap: 30px;
}

.icon-tech{
    text-align: center;
    padding: 25px 10px;
    cursor: pointer;
}

.icon-tech img{
    width: 70px;
}