@media (max-width: 991px) {
    header{
        padding: 18px 4%;
    }

    section{
        padding: 50px 4%;
    }
}

@media (max-width: 768px) {
    :root{
        --big-font: 2.4rem;
        --medium-font: 1.2rem;
    }
}


@media (max-width: 768px) {
    :root{
        --big-font: 2.4rem;
        --medium-font: 1.2rem;
    }

    header{
        padding: 11px 4%;
    }

    #menu-icon{
        display: initial;
        color: var(--text-color);
    }

    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 0 4px rgb(0 0 0 / 10%);
        transition: 0.2s ease;
        text-align: center;
    }

    .navbar.active{
        top: 100%;
    }

    .navbar a{
        padding: 1.5rem;
        display: block;
        background: var(--bg-color);
    }

    #dark-mode{
        position: absolute;
        top: 1.4rem;
        right: 2rem;
    }

    .home{
        grid-template-columns: 0.5fr 3fr;
    }

    .home-img{
        order: initial;
    }

    .home-text{
        grid-column: 1/3;
        padding-left: 1.4rem;
    }

    .about-container{
        grid-template-columns: 1fr;
    }

    .about-img{
        display: flex;
        justify-content: center;
    }

    .skills-container{
        grid-template-columns: 1fr;
    }

    .skills-img img{
        padding-left: 0;
    }

    .skills-img{
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }

    .contact-form form{
        width: 300px;
    }

    .contact-button{
        margin-left: 25%;
    }

    .home-text h2{
        font-size: 1.1rem;
        font-weight: 400;
        
    }
}

@media (max-width: 340px) {
    :root{
        --big-font: 1.7rem;
        --medium-font: 1.1rem
    }

    .home-text span{
        font-size: 1rem;
    }

    .home-text h2{
        font-size: 0.9rem;
        font-weight: 500;
    }

    .informacao .info-box span{
        font-size: 1rem;
    }

    .portifolio-content{
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }

    .contact-form form{
        width: 300px;
    }

    .contact-button{
        margin-left: 25%;
    }
}